<ng-container [formGroup]="FormGroup">

  <ng-container
    *ngIf="arrayName"
    [formArrayName]="arrayName"
  >
    <ng-container
      [formGroupName]="groupName"
    >
      <nz-form-item>
        <nz-form-label
          [nzSpan]="isHorizontal ? option?.configNzSpan?.label ? option?.configNzSpan?.label : 4 : null"
          [nzRequired]="option.required"
        >{{option.label}}</nz-form-label>
        <nz-form-control
          [nzSpan]="isHorizontal ? option?.configNzSpan?.control ? option?.configNzSpan?.control : 20 : null"
        >
      
          <nz-radio-group
            [nzButtonStyle]="'solid'"
            [formControlName]="option.key"
          >
            <ng-container *ngIf = "!isWeb">
                <ng-container
                  *ngIf="!option.derivativeType"
                >
                    <label nz-radio *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
                </ng-container>
                <ng-container
                  *ngIf="option.derivativeType === 'button'"
                >
                  <label nz-radio-button *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
                </ng-container>
            </ng-container>
            <ng-container *ngIf = "isWeb">
              <ng-container
                *ngIf="!option.derivativeType"
              >
                  <label nz-radio *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
              <ng-container
                *ngIf="option.derivativeType === 'button'"
              >
                <label nz-radio-button *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
            </ng-container>
          </nz-radio-group>

          <ng-container
            *ngIf="option.extTemplate"
          >
            <div class="fd-ext-template-box" >
              <ng-container
                [ngTemplateOutlet]="option.extTemplate"
              ></ng-container>
            </div>
          </ng-container>
        
          <fd-form-error
            *ngIf="option.errorMsg"
            [option]="option"
            [arrayKey] = "arrayName"
            [groupKey] = "groupName"
          ></fd-form-error>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </ng-container>

  <ng-container
    *ngIf="!arrayName && groupName"
    [formGroupName]="groupName"
  >
    <nz-form-item>
      <nz-form-label
        [nzSpan]="isHorizontal ? option?.configNzSpan?.label ? option?.configNzSpan?.label : 4 : null"
        [nzRequired]="option.required"
      >{{option.label}}</nz-form-label>
      <nz-form-control
        [nzSpan]="isHorizontal ? option?.configNzSpan?.control ? option?.configNzSpan?.control : 20 : null"
      >
    
        <nz-radio-group
          [nzButtonStyle]="'solid'"
          [formControlName]="option.key"
        >
          <ng-container *ngIf = "!isWeb">
              <ng-container
                *ngIf="!option.derivativeType"
              >
                  <label nz-radio *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
              <ng-container
                *ngIf="option.derivativeType === 'button'"
              >
                <label nz-radio-button *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
          </ng-container>
          <ng-container *ngIf = "isWeb">
            <ng-container
              *ngIf="!option.derivativeType"
            >
                <label nz-radio *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
            </ng-container>
            <ng-container
              *ngIf="option.derivativeType === 'button'"
            >
              <label nz-radio-button *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
            </ng-container>
          </ng-container>
        </nz-radio-group>

        <ng-container
          *ngIf="option.extTemplate"
        >
          <div class="fd-ext-template-box" >
            <ng-container
              [ngTemplateOutlet]="option.extTemplate"
            ></ng-container>
          </div>
        </ng-container>
      
        <fd-form-error
          *ngIf="option.errorMsg"
          [option]="option"
          [groupKey] = "groupName"
        ></fd-form-error>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <ng-container
    *ngIf="!arrayName && !groupName"
  >
    <nz-form-item>
      <nz-form-label
        [nzSpan]="isHorizontal ? option?.configNzSpan?.label ? option?.configNzSpan?.label : 4 : null"
        [nzRequired]="option.required"
      >{{option.label}}</nz-form-label>
      <nz-form-control
        [nzSpan]="isHorizontal ? option?.configNzSpan?.control ? option?.configNzSpan?.control : 20 : null"
      >
    
        <nz-radio-group
          [nzButtonStyle]="'solid'"
          [formControlName]="option.key"
        >
          <ng-container *ngIf = "!isWeb">
              <ng-container
                *ngIf="!option.derivativeType"
              >
                  <label nz-radio *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
              <ng-container
                *ngIf="option.derivativeType === 'button'"
              >
                <label nz-radio-button *ngFor="let option of selectOptions" [nzValue]="option.value">{{option.label}}</label>
              </ng-container>
          </ng-container>
          <ng-container *ngIf = "isWeb">
            <ng-container
              *ngIf="!option.derivativeType"
            >
                <label nz-radio *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
            </ng-container>
            <ng-container
              *ngIf="option.derivativeType === 'button'"
            >
              <label nz-radio-button *ngFor="let option of selectOptions$ | async" [nzValue]="option.value">{{option.label}}</label>
            </ng-container>
          </ng-container>
        </nz-radio-group>

        <ng-container
          *ngIf="option.extTemplate"
        >
          <div class="fd-ext-template-box" >
            <ng-container
              [ngTemplateOutlet]="option.extTemplate"
            ></ng-container>
          </div>
        </ng-container>
      
        <fd-form-error
          *ngIf="option.errorMsg"
          [option]="option"
        ></fd-form-error>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

</ng-container>

<fd-form-item-distribution
  *ngIf = "option.formGroup && FormGroup.get(option.key).value && option.formGroup[FormGroup.get(option.key).value]"
  [group]="FormGroup"
  [options] = "option.formGroup[FormGroup.get(option.key).value].groups"
  [groupName] = "option.formGroup[FormGroup.get(option.key).value].key"
></fd-form-item-distribution>

<fd-form-array-distribution
  *ngIf = "option.formArray && FormGroup.get(option.key).value && option.formArray[FormGroup.get(option.key).value]"
  [group]="FormGroup"
  [options] = "option.formArray[FormGroup.get(option.key).value].groupsArr"
  [arrayName] = "option.formArray[FormGroup.get(option.key).value].key"
></fd-form-array-distribution>