<ng-container [formGroup]="FormGroup">

  <ng-container
    *ngIf="groupName"
    [formGroupName]="groupName"
  >
    <nz-form-item>
      <nz-form-label
        [nzSpan]="isHorizontal ? 4 : null"
        [nzRequired]="option.required"
      >{{option.label}}</nz-form-label>
      <nz-form-control
        [nzSpan]="isHorizontal ? 14 : null"
      >

        <input
          *ngIf="!option.derivativeType"
          nz-input
          [formControlName]="option.key"
          [placeholder]="option.placeholder"
        />

        <nz-input-number
          *ngIf="option.derivativeType === 'number'"
          [formControlName]="option.key"
        ></nz-input-number>

        <fd-form-error
          *ngIf="option.errorMsg"
          [option]="option"
          [groupKey] = "groupName"
        ></fd-form-error>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <ng-container
    *ngIf="!groupName"
  >
    <nz-form-item>
      <nz-form-label
        [nzSpan]="isHorizontal ? 4 : null"
        [nzRequired]="option.required"
      >{{option.label}}</nz-form-label>
      <nz-form-control
        [nzSpan]="isHorizontal ? 14 : null"
      >

        <input
          *ngIf="!option.derivativeType"
          nz-input
          [formControlName]="option.key"
          [placeholder]="option.placeholder"
        />

        <nz-input-number
          *ngIf="option.derivativeType === 'number'"
          [formControlName]="option.key"
        ></nz-input-number>
    
        <fd-form-error
          *ngIf="option.errorMsg"
          [option]="option"
        ></fd-form-error>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

</ng-container>

<fd-form-item-distribution
  *ngIf = "option.formGroup && FormGroup.get(option.key).value && option.formGroup[FormGroup.get(option.key).value]"
  [group]="FormGroup"
  [options] = "option.formGroup[FormGroup.get(option.key).value].groups"
  [groupName] = "option.formGroup[FormGroup.get(option.key).value].key"
></fd-form-item-distribution>